.root {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.top-left-container {
    align-items: flex-start;
}

.top-right-container {
    align-items: flex-end;
}

.hud-element_time {
    margin-bottom: 5px;
}

.hud-text {
    color: white;
    -unity-font-style: bold;
    font-size: 16px;
}

.hud-title {
    margin-right: 5px;
}

.hud-element {
    margin-bottom: 5px;
}
